@import "tailwindcss";

:root {
  --primary: #0F4C81;
  --primary-light: #4DA8DA;
  --accent: #F4B400;

  --background: #FFFFFF;
  --surface: #F8FAFC;

  --text: #111827;
  --text-light: #6B7280;

  --border: #E5E7EB;

  --radius: 20px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
